/*.featured-products {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2.858em 1fr 2.858em 1fr 2.858em 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2.858em;
    grid-row-gap: 2.858em;
    padding: 0;
    margin: 0;
}*/

@media screen and (-ms-high-contrast: none) {
	.featured-products {
	    display: -ms-grid;
	    -ms-grid-columns: 1fr 2.858em 1fr 2.858em 1fr 2.858em 1fr;
	}
	.featured-products div:nth-of-type(1) {
		-ms-grid-row: 1;
	  	-ms-grid-column: 1;
	}
	.featured-products div:nth-of-type(2) {
		-ms-grid-row: 1;
	  	-ms-grid-column: 2;

	}
	.featured-products div:nth-of-type(3) {
		-ms-grid-row: 1;
	  	-ms-grid-column: 3;
	}
	.featured-products div:nth-of-type(4) {
		-ms-grid-row: 1;
	  	-ms-grid-column: 4;
	}   
}